<div class="row">
  <div class="col-sm-4 col-sm-offset-4">
    <h3 class="text-center">Services For <%= @project.name %></h3>
    <br />
    <p><%= link_to 'Add a Service', new_project_service_path(@project), class: "btn btn-secondary btn-block" %></p>

    <%= render @services %>
  </div>
</div>
