<div class="row">
  <div class="col-sm-4 col-sm-offset-4">
    <p><%= link_to 'New Project', new_project_path, class: "btn btn-secondary btn-block" %></p>

    <% @projects.each do |project| %>
      <%= link_to project, class: "project" do %>
        <%= project.name %> <small>(<%= project.environment %>)</small>
      <% end %>
    <% end %>

  </div>
</div>
